services:
  - type: worker
    name: telegram-checkin-bot
    env: python
    pythonVersion: 3.10.13
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
    startCommand: python telegram_checkin_pro.py
    region: singapore
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
