services:
  - type: worker
    name: telegram-checkin-bot
    env: python
    plan: free
    region: singapore
    buildCommand: pip install --no-cache-dir -r requirements.txt
    startCommand: python telegram_checkin_pro.py
    autoDeploy: true
    envVars:
      - key: TZ
        value: Asia/Shanghai
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: PYTHONIOENCODING
        value: "utf-8"
